<!-- app/views/home/sign_up.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/assets/neptune.jpeg" width="60" height="60" class="d-inline-block align-top" alt>
    <h1>Neptune</h1>
  </a>
</nav>
<% flash.each do |key, message| %>
  <!--    <div class="alert alert-danger">
     <span class="error"><%= flash[:notice] %></span>
   </div> -->
  <p><%= message %></p>
<% end %>

<div class="center">
  <div class="home_container">
    <h2>Sign Up</h2>
    </br>
    </br>
    <%= form_tag sign_up_path, :class => 'form' do %>
      <%= label :user,:email, 'Email', :class => 'col-form-label' %>
      <%= text_field :user, :email, :class => 'form-control' %>
      <br/>
      <%= label :user,:password, 'Password', :class => 'col-form-label' %>
      <%= password_field :user, :password, :class => 'form-control' %>
      <br/>
      <%= label :user, :name, 'Name', :class => 'col-form-label' %>
      <%= text_field :user, :name, :class => 'form-control' %>
      <br/>
      <%= label :user, :company_name, 'Company Name', :class => 'col-form-label' %>
      <%= text_field :user, :company_name, :class => 'form-control' %>
      <br/>
      <%= label :user, :role, 'Role', :class => 'col-form-label' %>
      <%#= text_field :user, :role, :class => 'form-control' %>
      <%= select_tag(:role, options_for_select([['Executive', "Executive"], ['Employee', "Employee"]]), {:class => 'form-control'}) %>
      <br/>
      <%= submit_tag 'Sign Up', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>